.Date-Wrapper {
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.Date-Wrapper_Date {
    font-size: 72px;
    margin-right: 14px;
    color: var(--accent-color);
}

.Date-Wrapper_MonthYear {
    display: flex;
    flex-direction: column;
}

.Date-Wrapper_MonthYear>div:not(:last-child) {
    margin-bottom: 6px;
}

.Date-Wrapper+small {
    padding: 0 10px;
}